<div class="checkoutMargin">
  <!-- table -->
  <div class="table-card" >
    <div class="products-cart">
      <div class="table table-responsive">
        <thead class="thead">
          <tr>
            <th>Product Name</th>
            <th>Product Image</th>
            <th>Description</th>
            <th>Price</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of products; let i = index">
          <td>{{item.item}}</td>
          <td> <img class="checkout-img" src="{{ item.img }}" alt="Photo of a Shiba Inu" /></td>
          <td>{{item.description}}</td>
          <td>{{item.price}}</td>
          
        </tbody>
      </div>
    </div>
  </div>
  <!-- table end -->
  <!-- card -->
  <!-- <div class="cart-container">
    <div class="ccard" *ngFor="let item of products; let i = index">
      <div class="card-top">
        <img class="card-img" src="{{ item.img }}" alt="Photo of a Shiba Inu" />
        <h1>
          <strong>{{ item.item }}</strong>
        </h1>
      </div>
      <div class="ccard-bottom">
        <p>{{ item.description }}</p>
        <p>
          <strong>{{ item.price }}</strong>
        </p>
        <button (click)="removeItem(item)" class="delete">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div> -->
  <!-- card end -->

  <!-- input -->
  <div class="input-container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form
          class="content"
          [formGroup]="checkoutForm"
          (ngSubmit)="submitData()"
        >
          <!-- first name -->

          <div class="formGroup">
            <label for="firstName">First Name:</label>
            <input
              type="text"
              formControlName="firstName"
              [ngClass]="{
                'is-invalid':
                  submitted && checkoutForm.controls['firstName'].errors
              }"
              class="form-control"
            />
            <div
              *ngIf="submitted && checkoutForm.controls['firstName'].errors"
              class="text-danger"
            >
              <div
                *ngIf="
                  submitted &&
                  checkoutForm.controls['firstName'].errors['required']
                "
              >
                First Name Require!
              </div>
              <div
                *ngIf="
                  submitted &&
                  checkoutForm.controls['firstName'].errors['minlength']
                "
              >
                2 Charcters Minimum
              </div>
            </div>
          </div>
          <!-- last name -->
          <div class="formGroup">
            <label for="lastName">Last Name:</label>
            <input
              type="text"
              formControlName="lastName"
              [ngClass]="{
                'is-invalid':
                  submitted && checkoutForm.controls['lastName'].errors
              }"
              class="form-control"
            />
            <div
              *ngIf="submitted && checkoutForm.controls['lastName'].errors"
              class="text-danger"
            >
              <div
                *ngIf="
                  submitted &&
                  checkoutForm.controls['lastName'].errors['required']
                "
              >
                Last Name is Required!
              </div>
              <div
                *ngIf="
                  submitted &&
                  checkoutForm.controls['lastName'].errors['minlength']
                "
              >
                2 Charcters Minimum
              </div>
            </div>
          </div>
          <!-- email -->
          <div class="formGroup">
            <label for="email">Email:</label>
            <input
              type="text"
              formControlName="email"
              [ngClass]="{
                'is-invalid': submitted && checkoutForm.controls['email'].errors
              }"
              class="form-control"
            />
            <div
              *ngIf="submitted && checkoutForm.controls['email'].errors"
              class="text-danger"
            >
              <div
                *ngIf="
                  submitted && checkoutForm.controls['email'].errors['required']
                "
              >
                Email is Required!
              </div>
              <div
                *ngIf="
                  submitted && checkoutForm.controls['email'].errors['email']
                "
              >
                Email is not Valid!
              </div>
            </div>
          </div>
          <!-- phone number -->
          <div class="formGroup">
            <label for="phone">Phone Number:</label>
            <input
              type="text"
              formControlName="phone"
              [ngClass]="{
                'is-invalid': submitted && checkoutForm.controls['phone'].errors
              }"
              class="form-control"
            />
            <div
              *ngIf="submitted && checkoutForm.controls['phone'].errors"
              class="text-danger"
            >
              <div
                *ngIf="
                  submitted && checkoutForm.controls['phone'].errors['required']
                "
              >
                Phone Number is not Correct!
              </div>
              <div
                *ngIf="
                  submitted &&
                  checkoutForm.controls['phone'].errors['minlength']
                "
              >
                10 digits Reqired
              </div>
              <div
                *ngIf="
                  submitted &&
                  checkoutForm.controls['phone'].errors['maxlength']
                "
              >
                Must have only 10 digits!
              </div>
            </div>
          </div>
          <!-- credit card -->
          <div class="formGroup">
            <label for="creditCard">Credit Card:</label>
            <input
              type="text"
              formControlName="creditCard"
              [ngClass]="{
                'is-invalid':
                  submitted && checkoutForm.controls['creditCard'].errors
              }"
              class="form-control"
            />
            <div
              *ngIf="submitted && checkoutForm.controls['creditCard'].errors"
              class="text-danger"
            >
              <div
                *ngIf="
                  submitted &&
                  checkoutForm.controls['creditCard'].errors['required']
                "
              >
                CC is not Correct!
              </div>
            </div>
          </div>
          <!-- date -->
          <div class="formGroup">
            <label for="date">Date:</label>
            {{ date1 }}
            <!-- <input type="date" [min]="minDate" [max]="maxDate" formControlName="date" [ngClass]="{'is-invalid': submitted && checkoutForm.controls['date'].errors}" class="form-control" >
                 <div *ngIf="submitted && checkoutForm.controls['date'].errors" class="text-danger ">
                     <div *ngIf="submitted && checkoutForm.controls['date'].errors['required']">
                        Date is not Correct!
                     </div>
                 </div> -->
          </div>
          <!-- submit button -->
          <div class="formGroup">
            <button class="ck1" type="submit">Buy</button>
            <button class="ck1" routerLink="/cart" >Return to cart</button>
            <span class="total"><strong>Total: ${{grandTotal}}</strong></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- input end -->
