
 <mat-toolbar class="footer"> 

    <button class="ft-btn">
      <mat-icon>favorite</mat-icon>
    </button>
    <button class="ft-btn">
      <mat-icon>share</mat-icon>
    </button>
    <button class="ft-btn">
      <img
      class="footer-img"
      src="../../../assets/images/instagram.png"
      alt="Photo of a Shiba Inu"
    />
    </button>
    <button class="ft-btn">
      <img
      class="footer-img"
      src="../../../assets/images/twitter.png"
      alt="Photo of a Shiba Inu"
    />
    </button>
  </mat-toolbar>