
/* header */
.mat-toolbar-row, .mat-toolbar-single-row {
    position:fixed;
    top:0;
    z-index: 1;
    display: flex;
    flex-wrap:wrap;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: wrap;
    justify-content: space-around;
    color:rgb(139 48 127);
    background-color:rgb(250 234 235);
    font-size: 2.5rem;
    font-family: 'Dancing Script', cursive;
    padding-bottom:1rem;
    
}
.logo{
    border-radius:20px;
    width:3.3rem;
    height: 3.3rem;
}
.toolbar{
    height:fit-content;
}

.mat-icon {
 color:#8b307f;
}
.mat-icon:hover {
 color:#418ec6;
}
.badge{
    color:red;
}
.searchbar{
    font-family:sans-serif;
    font-size:15px;
    height:2rem;
    border-color: #8b307f;
}

/* header end */



@media screen and (max-width: 1000px) {
    .toolbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:fit-content;
        color:#eee;
        background-color:#418ec6
    }
    .searchbar {
    height: 2rem;
    width: 14rem;
    border-color: #8b307f;
    margin: 10px;
}
.mat-icon {
 color:#eee;
}
.badge{
    color:#eee;
}
}
@media screen and (max-width: 650px) {
    .toolbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:fit-content;
        color:#eee;
        background-color:#8b307f;
    }
    .searchbar {
    height: 2rem;
    width: 14rem;
    border-color: #8b307f;
    margin: 10px;
}
.mat-icon {
 color:#eee;
}
.badge{
    color:#eee;
}
}