<!-- header -->
<mat-toolbar class="toolbar">
  <div class="img"><img class="logo" src="../../../assets/images/baking logo.jpg" alt="" /></div>
  <div >
  <span routerLink="home"><strong>My Baked Goods</strong></span>
</div>
  <div>
    <input class="searchbar" matInput type="text" />
    <mat-icon>search</mat-icon>
  </div>

  <a routerLink="cart">
    <button class="btn btn-color" >
      <mat-icon>shopping_cart_checkout </mat-icon>
      <div class="badge ">{{ totalItems }}</div>
    </button>
  </a>
</mat-toolbar>
<!-- header end -->

