/* category header */

.catagory-btns {
  position: relative;
  top:6rem;
  
  display: flex;
  justify-content: space-around;
  font-family: "Dancing Script";
  font-size: 2rem;
  color: #8b307f;
  margin-top:1.5rem;
  
  transition: 0.2s;
}
.list{
  transition: 0.2s;
}
.list:hover {
  font-size:40px;
  color: #418ec6;
}
/* category header end */

/* card */
.card-img{
  height:300px;
  width:300px;
}
.c-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 9rem;
  margin-bottom:6rem;

  z-index: 1;
}

.card{
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  margin: 10px;
  margin-bottom:4rem;
  height: 198px;
  overflow: hidden;
  transition: 1s;
}
.card:hover{
  width: 300px;
  height: 600px;
}

.card-top {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  height: 300px;
  transition: 1s;
}

.card-top > h1 {
  font-family: dancing script, sans-serif;
  font-size: 33px;
  color: #8b307f;
}

.card-bottom {
  box-sizing: border-box;
  height: 300px;
  width: 300px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}
.card-bottom > p {
  line-height: 1.3em;
  text-align: left;
  font-size: 16px;
}
.card-bottom > .btn-add {
  height: 3rem;
  width: 9rem;
  font-family: dancing script, sans-serif;
  font-size: 24px;
  background-color:rgb(250 234 235);
  color:#418ec6;
  border: none;
  border-radius: 4px;
  transition: 0.5s;
}
.card-bottom > .btn-add:hover {
  background: #418ec6;
  color:white;
}

/* card end */

@media screen and (max-width: 1000px) {
  /* category header  */
  .catagory-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7rem;
  }
  .list {
    margin: 1.5rem;
  }
  .catagory-btns{
    margin-top:6rem;
  }

  /* category header */
}
@media screen and (max-width: 650px) {
  /* category header  */
  .catagory-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7rem;
  }
  .list {
    margin: 1.5rem;
  }
  .catagory-btns{
    margin-top:6rem;
  }

  /* category header */
}
